html{
    background-color: lightblue;
    color: rgb(1, 1, 65);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9vw;
}
.price{

    margin-left: 1vw;
}
#register{
    margin-left: 2vw;
}
#position{
    position: absolute;
    top: 23vw;
}
#change-due{
    margin-left: 1.5vw;
    margin-top: 1vw;
}